.formControl {
    width: 100%;
}

.label {
    color: white !important;
}

.input {
    height: 52px;
    background-color: #2A2E30 !important;
    border-radius: 12px !important;
    padding: 14px 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: white !important;
    
    &::placeholder {
        color: white !important;
    }
}

.inputFocused {
    outline: none;
}

.error {
    height: 24px;
    color: red;
    font-size: 10px;
    line-height: 24px;
}